
h4.menu {
    font-family: Arial, Helvetica, sans-serif;
}

div.img_container {
    position: relative;
}

img.lawyer {
    width: 1600;
    height: 853;
}

div.blue_container {
    position: absolute;
    background-color: #0c3c5d;
    color: #e4e9ed;
    top: 100px;
    left: 100px;
}

p.dontwait {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3.improve {
    font-family: 'Arial Light', Arial, sans-serif;
}

p.yellowtext {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fadd15;
    font-style: italic;
    font-size: 18px;
}

div.whitetextbox {
    position: relative;
    background-color: #e4e9ed;
}

p.email {
    font-family: Arial, Helvetica, sans-serif;
    color: #363738;
    font-size: 24px;
}

div.yellowtextbox {
    position: relative;
    color: #fadd15;
}

p.signup {
    font-family: Arial, Helvetica, sans-serif;
}
