#artist_details {
    width: 80%;
    margin-top: 50px;
}

input[type=radio]+label {
    width: 50%;
    background-color: white;
    color: #205375;
    box-shadow: none;
    border-style: none;
}

input[type=radio]:checked+label {
    background-color: #205375;
    color: white;
}

#artist_info {
    margin: 30px auto 70px;
    width: 100%;
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
}

#nationality {
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#biography {
    margin-top: 20px;
    text-align: justify;
}

.alert {
    width: 100%;
    margin-top: 15px;
    text-align: left !important;
}

@media screen and (max-width: 540px) {
    #artist_details {
        width: 94%;
        margin-top: 50px;
    }
}